smokeyBlack = rgba(12, 15, 10, 1)
white = rgba(239, 249, 240, 1)
skyBlue = rgba(146, 220, 229, 1)
marineBlue = rgba(21, 50, 67, 1)
grey = rgba(49, 62, 80, 1)
otherWhite = #E6E6E6

.project-container
    border-style: solid 
    border-color: grey
    background-color: otherWhite
    margin-bottom: 20px
    margin: 0 20px
    height: 250px
    display: flex
    border-width: 2px
    padding: 5px

.project-container:nth-child(1)
    margin-top: 40px

.project-img-container
    order: 1
    width: 35%
    height: 100%

.project-img-container img 
    height: 100%
    width: 100%

.otherThings-container
    order: 2
    display: flex
    flex-wrap: wrap
    justify-content: center
    height: 100%
    width: 65%

.project-title-container
    flex-basis: 100%
    height: fit-content

.project-title-container p
    text-align: center
    color: mix(skyBlue, marineBlue)
    font-size: 2.5vw

.project-text-container
    width: 100%
    height: fit-content

.project-button-container
    order: 3
    height: fit-content
    width: fit-content
    margin-right: 5px

.tag-container:
    width: fit-content
    order: 1
    
.spacer
    order: 2
    width: 20%

.bottom-row
    display: flex
    flex-wrap: nowrap
    justify-content: flex-end
    width: 100%
    padding-right: 10px