smokeyBlack = rgba(12, 15, 10, 1)
white = rgba(239, 249, 240, 1)
skyBlue = rgba(146, 220, 229, 1)
marineBlue = rgba(21, 50, 67, 1)
grey = rgba(49, 62, 80, 1)
otherWhite = #E6E6E6

.skill-container
    border-style: solid 
    border-color: grey
    float: left
    width: 250px
    height: 250px
    background-color: otherWhite
    margin-left: 10px
    margin-top: 10px
    padding-top: 5px
    
.skill-container:hover
    border-color: skyBlue
    box-shadow: -2px 2px 5px 3px smokeyBlack

.icon-container
    height: 35px
    width: 35px
    margin: 0 auto

.icon-container img
    height: 35px
    width: 35px

.title-container
    width: fit-content
    height: fit-content
    margin: 0 auto
    font-size: 20px

.title-container p
    color: mix(skyBlue, marineBlue)

.text-container
    padding: 5px