smokeyBlack = rgba(12, 15, 10, 1)
white = rgba(239, 249, 240, 1)
skyBlue = rgba(146, 220, 229, 1)
marineBlue = rgba(21, 50, 67, 1)
grey = rgba(49, 62, 80, 1)

.quote-container
    height: fit-content
    width: 100%


.background-container
    width:100%
    border-style: solid
    border-color: grey
    background-size: 100%
 
 .quote-text-container 
    position relative
    height: fit-content
    width: fit-content
    top: 50%
    transform: translateY(-50%)
    -webkit-transform: translateY(-50%)
    -ms-transform: translateY(-50%)
    margin: 0 auto


.quote-text-container p
    color: white
    font-size: 35px