<div class="start-container">
    <div class="quote-super-container">
        <app-quote 
        [bgPath]="'assets/img/coding.jpg'"
        [quote]= "'Code can change the world, so can I'">
        </app-quote>
    </div>

    <div class="skill-outer-super-container">
        <div class="skill-header" (click)="toggleHiddenSkill(); getSkills()">
            <p>{{ '{' }}{{ '{' }}  Toolset  {{ '}' }}{{ '}' }}</p>
        </div>
        <div *ngIf="!skillHidden" class="skill-super-container">
            <div *ngFor="let _skill of SKILLS">
                <app-skill [skill]="_skill"></app-skill>
            </div>
        </div>
    </div>
    <div class="project-super-container">
        <div class="skill-header" (click)="toggleHiddenProject();">
            <p>{{ '{' }}{{ '{' }}  Projects  {{ '}' }}{{ '}' }}</p>
        </div>
        <div *ngIf="!projectHidden">
            <div *ngFor="let _project of PROJECTS">
                <app-project [project]="_project"></app-project>
            </div>
        </div>
    </div>
</div>