smokeyBlack = rgba(12, 15, 10, 1)
white = rgba(239, 249, 240, 1)
skyBlue = rgba(146, 220, 229, 1)
marineBlue = rgba(21, 50, 67, 1)
grey = rgba(49, 62, 80, 1)

.skill-container
    border-style: solid 
    border-color: grey
    float: left
    width: 250px
    height: 250px
    background-color: #E6E6E6
    margin-left: 10px
    margin-top: 10px
    

.icon-container
    height: 25px
    width: 25px
    padding: 5px
    margin: 0 auto


.icon-container img
    height: 25px
    width: 25px

.title-container
    width: fit-content
    height: fit-content
    margin: 0 auto

.text-container
    padding: 10px