smokeyBlack = rgba(12, 15, 10, 1)
white = rgba(239, 249, 240, 1)
skyBlue = rgba(146, 220, 229, 1)
marineBlue = rgba(21, 50, 67, 1)
grey = rgba(49, 62, 80, 1)
otherWhite = #E6E6E6

.about-me-container
    display: flex

    border-color: marineBlue
    border-style: solid 

    box-shadow: -2px 2px 5px 3px smokeyBlack
    height: fit-content
    background: otherWhite